body {
    font-family: 'Fredoka', sans-serif;
}
.bg-pollito {
    background: linear-gradient(90deg, #ffcc00, #ff9900);
}
#hero {
    background: url('./img/Agent-IA.webp') no-repeat center center/cover;
    height: 100vh;
}
.title-shadow{
	text-shadow: 1px 1px 0 white,-1px 1px 0 white,1px -1px 0 white,-1px -1px 0 white;
}
.timeline {
    position: relative;
    padding: 2rem 0;
}
.timeline-item {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}
.timeline-dot {
    width: 20px;
    height: 20px;
    background: #ffcc00;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.timeline-content {
    text-align: center;
    flex: 1;
}
